---
layout: default
---

<div class="row">
  <p>El Congrés de Sobirania Tecnològica està organitzat pel <b>Grup Promotor per la Sobirania Tecnològica</b>. Volem que aquest grup sigui la llavor d'un espai estable per aglutinar i teixir alternatives en aquest àmbit.</p>
  <p>Si estàs interessat o interessada a rebre informació sobre les pròximes reunions o activitats del grup promotor, o a assistir a aquestes envia un correu electrònic a: <a href="mailto:{{ site.email }}"><b>{{ site.email }}</b></a>.</p>
  <p>Les pròximes reunions preparatòries del congrés les farem totes els dilluns de Gener i Febrer a les 19.00 h.</p>
  <p>Us animem a participar en l'organització del congrés, en la mesura que cadascú se senti més còmode: formant part del Grup Promotor, organitzant o proposant algun taller o xerrada, proposant talleristes o fent-nos arribar els vostres comentaris i propostes.</p>
  <br />
  <p>Pots trobar més informació a la nostra <a href="https://wiki.sobtec.cat/qui_som" target="blank">wiki</a></p>
</div>
