{% comment %}
- Take the info from _data/activities.yml
- Keys of each activity: slug, time, title, desc, wiki, lang, pad, teixidora
- Without description, lang pad and teixidora is ignored
- Without lang, pad and teixidora is ignored
{% endcomment %}
{% assign info = site.data.activities | where: 'slug',include.param | first %}
<div class="row">
  <div class="calendar-day col-sm-2">
    <h2>{{ info.time }}</h2>
  </div>
  <div class="calendar-activity col-sm-10">
    <div class="activity-header">
      {% if info.wiki != "" and info.wiki != nil %}
      <a href="{{info.wiki}}" target="_blank" class="wiki"><i class="fa fa-external-link fa-1x"></i></a>
      {% endif %}
      <h2>{{ info.title }}</h2>
    </div>
    <hr />
    {% if info.desc != "" and info.desc != nil %}
    <div class="row">
      <div class="col-xs-12">{{ info.desc }}</div>
      {% if info.lang != "" and info.lang != nil %}
      <p class="col-xs-12">
        - en {{ info.lang }}
        {% if info.pad != "" and info.pad != nil %}
        - <a href="{{ info.pad }}" target="_blank">apunts</a>
        {% endif %}
        {% if info.presentation != "" and info.presentation != nil %}
        - <a href="{{ info.presentation }}" target="_blank">presentació</a>
        {% endif %}
        {% if info.video != "" and info.video != nil %}
        - <a href="{{ info.video }}" target="_blank">vídeo</a>
        {% endif %}
        {% if info.teixidora != "" and info.teixidora != nil %}
        - <a href="{{ info.teixidora }}" target="_blank">buidatge a Teixidora</a>
        {% endif %}
        -
      </p>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
