---
layout: default
---

<div class="row phrase-to-share">
  <div class="col-sm-6 text">
    <h2>Ser sobirans tecnològicament comporta tenir els coneixements i la capacitat per decidir sobre la tecnologia</h2>
    <div class="web">
    #SobTec18<br>sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>Fem créixer la sobirania tecnològica!</h2>
    <div class="web">
    #SobTec18<br>sobtec.cat
    </div>
  </div>
</div>
<div class="row phrase-to-share">
  <div class="col-sm-6 text">
    <h2>Barcelona ha de ser, i pot ser, pionera en el desenvolupament de tecnologies enfocades en la satisfacció de necessitats col·lectives</h2>
    <div class="web">
    #SobTec18<br>sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>L'evolució de les tecnologies informàtiques està acompanyada d'una constant pèrdua de sobirania. Revertim-ho!</h2>
    <div class="web">
    #SobTec18<br>sobtec.cat
    </div>
  </div>
</div>
<div class="row phrase-to-share">
  <div class="col-sm-6 text">
    <h2>La sobirania tecnològica defensa els béns comuns compartits i la seva gestió democràtica</h2>
    <div class="web">
    #SobTec18<br>sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>Les qüestions més rellevants, difícils i menystingudes per definir l'estratègia energètica no són, fonamentalment, les tècniques o econòmiques, sinó més aviat les socials i les ètiques</h2>
    <div>Amory B. Lovins, 1976</div>
    <div class="web">
    #SobTec18<br>sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>La individualització que les noves tecnologies connectades han generat no té a veure amb la tecnologia sinó amb com s’utilitzen i es gestionen aquestes tecnologies</h2>
    <div>Íngrid Guardiola</div>
    <div class="web">
    #SobTec19<br>sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>Calen unes polítiques municipals que donin als municipis la capacitat de ser protagonistes de la seva activitat tecnològica</h2>
    <div>apoderamentdigital.cat</div>
    <div class="web">
    #SobTec19<br>sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>Les plataformes estan contribuint a la precarització de les condicions laborals, ja que els treballadors queden desprotegits de la norma laboral</h2>
    <div>Anna Ginés</div>
    <div class="web">
    #SobTec19<br>sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>L'emergència de tecnologies que combinen sistemes distribuïts (P2P) i criptografia ens acosta a un Internet més lliure, on és molt difícil parar els fluxos d'informació.</h2>
    <div>David Llop Vila</div>
    <div class="web">
    #SobTec19<br>sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>És arriscat reduïr la ètica a un calcul matemàtic de danys i opcions possibles. Els algoritmes d'aprenentatge automàtic es basen en el contex per prendre una decisió, sense una comprensió causal del fenòmens que volen predir.</h2>
    <div>David Casacuberta</div>
    <div class="web">
    #SobTec19<br>sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>El programari lliure ens permet resoldre necessitats informàtiques comunes d’una manera inclusiva, en la que diferents actors poden tenir interès proactiu en una solució.</h2>
    <div class="web">
    #SobTec19<br>sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>Diuen que Estònia és la primera nació digital del món. Què hi ha darrera d'aquesta afirmació? Un conte de fades o una nació realment digital?</h2>
    <div>Dario Castañé</div>
    <div class="web">
    #SobTec19<br>sobtec.cat
    </div>
  </div>
</div>
