<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">

            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>
            <section class="author" itemprop="author">
                <div class="icon">
                  <svg class="icon-person"><use xlink:href="#{{ page.icon }}"></use></svg>
                </div>
                <div class="text">
                  <h3 class="name">{{ page.author_name }}</h3>
                  <p class="desc">{{ page.author_info }}</p>
                  <p class="desc">{{ page.author_contact }}</p>
                </div>
            </section>
            {% include footer.html %}
        </section>
    </body>
</html>
